<mat-card *ngIf="Record == null" class="mt-3" [ngClass]="(isDark$ | async )? 'dark-mode' : 'light-mode'">
    <mat-card-header>
        <mat-card-title>Last Record Doesn't Exist!</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>
            You can create a new record by clicking the button below.
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-icon-button color="primary" style=" height: auto;" routerLink="/wordbook/add"><mat-icon
                svgIcon="record"></mat-icon></button>
    </mat-card-actions>
</mat-card>

<div id="expansionPanel" class="container" *ngIf="Record">
    <p>
        <mat-form-field appearance="outline" color="primary" [ngClass]="(isDark$ | async )? 'dark-mode' : 'light-mode'">
            <mat-hint>Last Record</mat-hint>
            <mat-label>{{Record.Created | date : 'dd/MM/YYYY'}}</mat-label>
            <input matInput [matDatepicker]=" dp1" disabled>
            <mat-datepicker-toggle matIconSuffix [for]="dp1"></mat-datepicker-toggle>
            <mat-datepicker #dp1></mat-datepicker>
        </mat-form-field>
    </p>
    <mat-accordion multi>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false "
            *ngFor="let word of Record.words" expanded [ngClass]="(isDark$ | async )? 'dark-mode' : 'light-mode'">
            <mat-expansion-panel-header>
                <mat-panel-title class="fs-4" style="color: #673AB7;">
                    {{word.name}}
                </mat-panel-title>
                <mat-panel-description> </mat-panel-description>
            </mat-expansion-panel-header>
            <div *ngFor="let def of word.definitions" class="fs-5">
                <div class="row">
                    <div class="col-9 mt-1 py-3">
                        {{def.definition}}
                    </div>
                    <div class="col-3 mt-1 py-3">
                        İsim, eskimiş, edebiyat
                    </div>
                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
    <div class="text-center mt-2 mb-5">
        <button mat-fab extended color="primary" class="me-2" [routerLink]="routerLink">
            Detaylara Git
        </button>
    </div>
</div>