{{createRecordForm.pristine | json}}

<form action="" [formGroup]="createRecordForm" class="offset-2 col-8" >
    <div formArrayName="record" class="border border-1 rounded-2">
        <div *ngFor="let recControl of record.controls; let i = index" class="shadow-lg" >
            <div [formGroupName]="i" >
                <mat-form-field appearance="outline" class="offset-2 col-4 mt-3">
                    <mat-label>Name</mat-label>
                    <input matInput formControlName="name">
                    <mat-error *ngIf="wordErrorAt(i, 'required')">
                        Name is required
                    </mat-error>
                    <mat-error *ngIf="wordErrorAt(i, 'minlength') && !wordErrorAt(i, 'required')">
                        Minimum length is 3
                    </mat-error>
                </mat-form-field>
                <span formArrayName="definitions">
                    <div *ngFor="let def of definition(i).controls ; let x = index">
                        <span [formGroupName]="x" class="">
                            <mat-form-field appearance="outline" class="offset-2 col-4">
                                <mat-label>Definition</mat-label>
                                <input class="" matInput formControlName="definition">
                                <mat-error *ngIf="definitionErrorAt(i,x,'required')">
                                    Definition is required
                                </mat-error>
                                <mat-error *ngIf="definitionErrorAt(i,x,'minlength') && !definitionErrorAt(i,x,'required')">
                                    Minimum length is 3
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="outline" class="col-4 ms-2">
                                <mat-label>Definition type</mat-label>
                                <input class="" matInput formControlName="definitionType">
                                <mat-error *ngIf="definitionTypeErrorAt(i,x,'required')">
                                    Definition type is required
                                </mat-error>
                                <mat-error *ngIf="definitionTypeErrorAt(i,x,'minlength') && !definitionTypeErrorAt(i,x,'required')">
                                    Minimum length is 3
                                </mat-error>
                            </mat-form-field>
                            <button *ngIf="x===0" mat-raised-button color="primary" focus (click)="addDefinition(i)">
                                Ekle
                            </button>
                            <button mat-raised-button color="primary" *ngIf="x>=1" (click)="removeDefinition(i,x)">
                                Sil
                            </button>
                            
                        </span>
                    </div>
                </span>
            </div>
        </div>
    </div>
</form>
<!-- <button (click)="addWord()">
    Ekle
</button> -->