<mat-toolbar color="primary" class="sticky-top">
    <mat-toolbar-row class="shadow">
        <button mat-icon-button class="ms-2 home-icon" aria-label="Example icon-button with home icon"
            routerLink="/wordbook/home">
            <mat-icon>home</mat-icon>
        </button>
        <button routerLink="/wordbook/add" mat-flat-button color="primary" class="ms-4 button-font">
            Kelime Ekle
        </button>
        <button mat-flat-button color="primary" routerLink="/wordbook/words" class="button-font ms-4">
            Tüm Kelimeler
        </button>
        <span class="spacer"></span>
        <a href="https://github.com/4Furki4/KelimeDefteri2" target="_blank" style="color: whitesmoke;">
            <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
                <mat-icon svgIcon="github"></mat-icon>
            </button>
        </a>
    </mat-toolbar-row>
</mat-toolbar>