table
    color: white
mat-expansion-panel
    background-color: #1e1e1e
    color: #cac7c2
#expansionPanel
    margin-top: 100px
mat-label
    color: #673AB7

::ng-deep .mat-form-field-disabled
    background-color: #1e1e1e
    border-radius: 5px
    color: #673AB7
    border-block: 2px solid #673AB7
::ng-deep .mat-mdc-form-field .mat-mdc-floating-label
    font-weight: normal !important
    font-size: 16px !important

::ng-deep .mat-mdc-form-field-subscript-wrapper
    font-weight: normal !important
    font-size: 16px !important
    padding: 2px !important

::ng-deep .mat-datepicker-toggle-default-icon
    fill: #673AB7 !important
