<form @slide @fadeIn [formGroup]="createRecordForm" class="offset-xl-1 offset-xxl-2 col-xxl-8 col-xl-10 rounded-2">
    <!-- <div class="row">
        <div class="col-12 text-center">
            <h1 class="mt-1 mb-3">Yeni Kayıt Oluştur</h1>
        </div>
    </div> -->
    <mat-form-field class="mb-2" appearance="outline">
        <mat-label [ngClass]="(isDark$ | async )? 'dark-mode' : 'light-mode'">Select a Date</mat-label>
        <input [ngClass]="(isDark$ | async )? 'dark-mode' : 'light-mode'" matInput [matDatepicker]="picker"
            formControlName="createdDate">
        <mat-error *ngIf="createRecordForm.get('createdDate')?.hasError('required')">
            Please enter a valid date
        </mat-error>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <div id="createForm" formArrayName="record" class="border border-bottom-0 rounded-2">
        <div *ngFor="let recControl of record.controls; let i = index" class="border-bottom rounded-2"
            style="border-color: #673AB7 !important; border-width: 2px !important;">
            <div [formGroupName]="i">
                <mat-form-field appearance="outline" class="offset-2 col-4 mt-3 mb-1">
                    <mat-label [ngClass]="(isDark$ | async )? 'dark-mode' : 'light-mode'">Name</mat-label>
                    <input matInput formControlName="name" [ngClass]="(isDark$ | async )? 'dark-mode' : 'light-mode'">
                    <mat-error *ngIf="wordErrorAt(i, 'required')">
                        Name is required
                    </mat-error>
                    <mat-error *ngIf="wordErrorAt(i, 'minlength') && !wordErrorAt(i, 'required')">
                        Minimum length is 3
                    </mat-error>
                </mat-form-field>
                <span formArrayName="definitions">
                    <div *ngFor="let def of definition(i).controls ; let x = index" @fadeIn @fadeOut>
                        <span [formGroupName]="x" class="">
                            <mat-form-field appearance="outline" class="offset-2 col-4 mb-2">
                                <mat-label
                                    [ngClass]="(isDark$ | async )? 'dark-mode' : 'light-mode'">Definition</mat-label>
                                <input matInput formControlName="definition"
                                    [ngClass]="(isDark$ | async )? 'dark-mode' : 'light-mode'">
                                <mat-error *ngIf="definitionErrorAt(i,x,'required')">
                                    Definition is required
                                </mat-error>
                                <mat-error
                                    *ngIf="definitionErrorAt(i,x,'minlength') && !definitionErrorAt(i,x,'required')">
                                    Minimum length is 3
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="outline" class="col-4 ms-2">
                                <mat-label [ngClass]="(isDark$ | async )? 'dark-mode' : 'light-mode'">Definition
                                    type</mat-label>
                                <input matInput formControlName="definitionType"
                                    [ngClass]="(isDark$ | async )? 'dark-mode' : 'light-mode'">
                                <mat-error *ngIf="definitionTypeErrorAt(i,x,'required')">
                                    Definition type is required
                                </mat-error>
                                <mat-error
                                    *ngIf="definitionTypeErrorAt(i,x,'minlength') && !definitionTypeErrorAt(i,x,'required')">
                                    Minimum length is 3
                                </mat-error>
                            </mat-form-field>
                            <button class="bt-size" *ngIf="x===0" mat-fab extended color="primary" focus
                                (click)="addDefinition(i)">
                                Ekle
                            </button>
                            <button class="bt-size" mat-fab extended color="primary" *ngIf="x>=1"
                                (click)="removeDefinition(i,x)">
                                Sil
                            </button>
                        </span>
                    </div>
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center mb-5">
            <button id="submitBtn" type="submit" (click)="SubmitRecord()" [disabled]="!this.createRecordForm.valid"
                class="shadow" mat-fab extended color="primary"
                [ngClass]="(isDark$ | async )? 'dark-mode' : 'light-mode'">
                Gönder
            </button>
        </div>
    </div>
</form>