<!-- <nav class="navbar navbar-expand-lg" style="background-color: #673AB7;">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="me-3 mb-1">
                <button mat-mini-fab color="primary">
                    <mat-icon>home</mat-icon>
                </button>
            </div>
            <ul class="navbar-nav mb-3 mb-lg-0">
                <li class="nav-item">
                    <button mat-button disabled routerLink="/wordbook/add"><span class="navbar-brand">Kelime Defteri</span></button>
                </li>
                <li class="nav-item">
                    <button mat-flat-button color="primary" routerLink="/wordbook/add">Kelime Ekle</button>
                </li>
                <li class="nav-item">
                    <button mat-flat-button color="primary" routerLink="/wordbook/words">Tüm Kelimeler</button>
                </li>
            </ul>
            <form class="d-flex ms-auto d-none-sm d-block-" role="search">
                <mat-form-field class="full-width">
                    <mat-label>Search</mat-label>
                    <input matInput class="me-2">
                </mat-form-field>
                <input class="form-control me-1" placeholder="Aranacak Kelime" aria-label="Search">
                <button mat-raised-button extended color="primary" type="submit" class="ms-1">Ara</button> (submit) will be added later 
            </form>
        </div>
    </div>
</nav> -->

<nav class="navbar navbar-expand shadow-lg" style="background-color: #673AB7;">
    <div class="container-fluid">
        <div class="collapse navbar-collapse">
            <button routerLink="/home" mat-mini-fab color="primary">
                <mat-icon>home</mat-icon>
            </button>
            <button routerLink="/wordbook/add" mat-flat-button color="primary" class="ms-2">
                Kelime Ekle
            </button>
            <button mat-flat-button color="primary" routerLink="/wordbook/words" class="ms-2">
                Tüm Kelimeler
            </button>
            <form action="" class="d-flex ms-auto form-width">
                <input class="form-control me-1 full-width" placeholder="Kelime" aria-label="Search">
                <button mat-raised-button extended color="primary" type="submit" class="ms-1">Ara</button>
            </form>
        </div>
    </div>
</nav>