/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css'
html,
body
    height: 100%
    background-color: #15181b !important
    color: white !important

body
    font-family: Roboto, "Helvetica Neue", sans-serif
